* {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {

}

h4 {
    color: black;
}

/* SECTION STYLES */
.headerBigStyle {
    position: relative;
    color: #fff;
    height: 100vh;
}
.headerSmallStyle {
    position: relative;
    background: linear-gradient(135deg,#ff1b6b,#45caff);
    height: 1200px;
}

.workBigStyle {
    position: absolute;
    top: 300px;
    left: 10%;
    color: #fff;
    height: 680px;
}

.workSmallStyle {
    position: absolute;
    top: 300px;
    color: #fff;
    height: 680px;
};

.contactStyle {
    position: relative;
    color: #fff;
    height: 540px;
}

.aboutStyle {
    position: relative;
    color: white;
    height: 900px;
}

/* COMPONENT STYLES */
.backgroundStyle {
    position: absolute;
    top: -10vh;
    left: 0;
    width: 100%;
    height: calc(100% + 10vh);
    background: linear-gradient(135deg,#ff1b6b,#45caff);
    transform: skewY(-5deg);
    box-shadow: 0 0 50px rgb(60 117 162 / 40%);
    z-index: -1;
  };

.bioStyle {
    position: absolute;
    top: 300px;
    max-width: 50%;
    max-height: 40%;
    background: rgba(0,0,0,.6);
    padding: 5px;
};

.cardStyle {
    /*  position: absolute;
     top: 300px;
     maxWidth: 50%;
     maxHeight: 40%;
     background: rgba(0,0,0,.6);
     padding: 5px; */
    width: 300px;
    margin: 30px 50px 280px 50px;
    max-height: 100px;
  };

  .buttonStyle {
    background: #ff1b6b;
    margin-right: 25px;
    /*  transition: 0.3s,
     &:hover: {
       background: #45caff,
       color: black,
     }, */
  };

  /* CAROUSAL - CURRENTLY UNUSED */
   /* .workCardStyle {
       position: absolute;
       top: 150px;
       top: props.topPosTitle;
       left: 0;
       right: 0;
       paddingLeft: 20px;
       paddingRight: 20px;
       textAlign: center;
       border: props.borderTitle;
       borderRadius: props.borderRadiusTitle;
       marginLeft: auto;
       marginRight: auto;
       width: props.widthTitle;
       background: props.backgroundTitle;
     };
  
      .workCardBgStyle {
       display: inline-block;
       position: relative;
       verticalAlign: middle;
       padding: 10px;
       marginLeft: 7px;
       marginRight: 7px;
     }; */

      .footerStyle  {
        position: absolute;
        /* bottom: 40px; */
        right: 40px;
        /* width: 100%; */
        height: 40px;
        background: linear-gradient(135deg,#ff1b6b,#45caff);
         /* transform: skewY(-5deg);
         boxShadow: 0 0 50px rgb(60 117 162 / 40%);
         margin: 0 0 0 0; */
      };

.formStyle {
         /* position: absolute;
         top: 180px;
         left: 44.2%; */
        margin: 0 auto;
        width: 30%;
        z-index: 1;
      };
.formDivStyle {
        position: relative;
        top: 180px;
         /* left: 44.2%; */
        margin: 20px;
        z-index: 1;
      };
.inputStyle {
        display: block;
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
      };

      .navStyle {
        position: absolute;
        top: 40px;
        left: 40px;
        font-weight: 300;
        border: white 2px solid;
        border-radius: 19px;
      };

.navItemStyle {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        padding: 10px;
        margin-left: 7px;
        margin-right: 7px;
        color: white;
        font-size: 20px;
        cursor: pointer;
      };

.imgStyle {
        position: absolute;
        top: 250px;
        max-width: 100%;
        /* height: auto; */
        background-size: cover;
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
      };
/* MEDIA QUIERIES */
@media screen and (max-width: 768px) {
    /* Use flex-direction to stack the navbar, sidebar, and body */
    main,
    nav {
      flex-direction: column;
    }
    /* Make the sidebar stack below the body */
    aside {
      order: 2;
    }
    /* Change the header background */
    header {
      background: #772014;
    }
    /* Change the navbar and footer background */
    nav,
    footer {
      background-color: #bb8588;
    }
  }