.formStyle {
    /* position: absolute;
    top: 180px;
    left: 44.2%; */
   margin: 0 auto;
   width: 30%;
   z-index: 1;
 };
.formDivStyle {
   position: relative;
   top: 180px;
    /* left: 44.2%; */
   margin: 20px;
   z-index: 1;
 };
.inputStyle {
   display: block;
   margin-top: 5px;
   margin-bottom: 5px;
   width: 100%;
 };